* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.simple-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid red;
  transition: transform 0.3s ease;
}

.simple-navbar.hide {
  transform: translateY(-100%);
}

.simple-navbar.show {
  transform: translateY(0);
}
.nav-logo{
  display: flex;
}

.nav-logo img {
  height: 45px;
  width: 100px;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-menu a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 12px;
}

.nav-menu a:hover {
  background-color: black;
  color: white;
  border-radius: 7px;

}

.nav-menu a.nav-link-active {
  background: black;
  color: white;
  border-radius: 7px;
}

.more-btn {
  color: red;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
}

.nav-submenu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.nav-submenu-container:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenu a {
  display: block;
  color: black;
}

.submenu a:hover {
  padding-left: 20px;
  background-color: black;
  color: white;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 70px;
    right: -50%;
    width: 50%;
    height: 100vh;
    background: white;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease;
    overflow-y: auto;
  }

  .nav-logo img {
    height: 40px;
    width: 100px;
  }

  .nav-menu.mobile-open {
    right: 0;
    width: 250px;
  }

  .nav-menu a,
  .more-btn,
  .nav-submenu-container {
    width: 100%;
  }

  .nav-menu a,
  .more-btn {
    padding: 14px 0;
  }

  .nav-menu a.nav-link-active {
    background: #333;
    color: white;
    padding-left: 10px;
  }

}