html{
  scroll-behavior: smooth;
}
.home-page {
  padding-top: 70px;
}

.image-slider {
  width: 100%;
  overflow: hidden;
}


.slider-container {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 320px;
  max-height: 650px;
  overflow: hidden;
  background: #000;
}


.slide {
  position: absolute;
  inset: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}


@media (max-width: 768px) {

  .slider-container {
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .slide {
    background-size: contain;
    background-color: #000;
  }
}
